*{
  font-family: SUSE;
  color: white;
}

body {
  background-color: rgb(0, 54, 90);
}

main {
  margin: 10px 0 0 10px;
}

/* time (upper) section */
.time {
  margin-bottom: 10px;
}

header {
  font-weight: 600;
  font-size: 2.5em;
}

.local {
  font-size: 1.5em;
}

.local-time {
  font-weight: 600;
  font-size: 2.2em;
  color: #9cc6ff;
}

.gmt {
  font-size: 1.5em;
}

.gmt-time {
  font-weight: 400;
  font-size: 1.1em;
  color: #9cc6ff;
}

/* lower section */

.other-data {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

/* weather */
.weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-showing-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 10px 0
}

.weather-title {
  font-weight: 600;
  font-size: 1.2em;
}

.weather-image img {
  width: 125px;
  margin: -25px -10px -25px -10px;
}

.weather-real-temperature {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: -10px 0 -15px 0;
}

.temperature {
  font-size: 3em;
  font-weight: 700;
  color: #70ddf1;
}

.celsius {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: -28px;
  margin-bottom: 13px;
}

.weather-feels-like-temp {
  font-weight: 200;
}







.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.high-low {
  display: flex;
  flex-direction: row;
}

.high{
  color: #ffbe7e;
}

.low {
  color: #97c6f6;
  margin-left: 7px;
}

.vis, .sun {
  font-weight: 200;
}

.data-and-report {
  flex: 2;
}

.system-data {
  font-size: 1.2em;
  font-weight: 600;
}

.data-title {
  font-weight: normal;
}

.missions {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 0;
  font-size: 1.2em;
  background-color: #4d6f58;
  padding: 8px 15px;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
  height: 207px;
  overflow-y: auto;
}

.add-mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.mission-input {
  height: 35px;
  font-size: 0.7em;
  color: black;
  border: none;
  border-radius: 5px;
}

.add-button {
  height: 37px;
  width: 60px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.missions-list {
  font-weight: 600;
}

.mission-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 0 0
}

.mission-todo-name{
  margin: 0;
}

.buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.delete {
  height: 37px;
  width: 70px;
  background-color: rgb(202, 0, 0);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.done {
  height: 37px;
  width: 70px;
  background-color: rgb(0, 163, 0);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;

}
